@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  /* background-color: #131110; */
}


:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}
.orange-circle {
  width: 23rem;
  height: 23rem;
  position: absolute;
  background: var(--orange-gradient);
  padding: 36px;
  border-radius:100%;
  right:0;
  top: 25%;
  z-index: 1;
  filter: blur(250px);
}

/* a {
  color: inherit;
  text-decoration: none;
} */
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: var(--orange-gradient);
  font-weight: 600; ;
  font-size: 3rem;
}
.primaryText-sm{
  color: var(--orange-gradient);
  font-weight: 400; 
  font-size: 2rem;
}

.darkPrimaryText {
  position: relative;
  z-index: 10;

  font-size: 3rem;
  font-weight: 600; 

  background: linear-gradient(to bottom, #f97316, #ffffff); 
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
}

.secondaryText {
  color: rgb(140 139 139);
  /* font-size: 0.9rem; */
}
.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

.button{
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  background: var(--orange-gradient);
  border: none;
  border-radius: 4px;
  /* transition: all 300ms ease-in; */
  transform-origin: center;
}

.button:hover{
  cursor: pointer;
  /* transform: scale(1.1); */
  transform: translateY(-1.5px);
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
}

.slider {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/slide_icon.png");
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/slide_icon.png");
  border: none;
}


body::-webkit-scrollbar {
  display: none;
}